* {
  font-family: 'Trebuchet MS', sans-serif;
}

/* Icons */

.action-icon {
  &.modify-copy-icon > button {
    color: @cyan;
  }

  &.delete-icon > button {
    color: @red;
  }
}

/* Button */

.generic-button {
  background-color: @bg-darkblue;
  border: none;
  margin-right: -3px;

  .p-button-label {
    font-size: @fs-normal;
    font-weight: @normal;
  }

  &.cancel {
    color: @darkblue;
    background-color: @bg-white;
    border: 1px solid @darkblue;
  }
}

.gradient-button {
  border: none;
  button {
      background: 
      linear-gradient(@white 0 0) padding-box,
      linear-gradient(to right, @bd-lightblue, @bd-purple) border-box;
      color: @darkgrey;
      border: 2px solid transparent;
      border-radius: 20px 0;
      display: inline-block;
      font-weight: 700;
      font-size: 0.875rem;
      margin-right: 0.5rem;
  }
}
