* {
  font-family: 'Trebuchet MS', sans-serif;
}

/* Icons */

.action-icon {
  &.modify-copy-icon > button {
    color: @cyan;
  }

  &.delete-icon > button {
    color: @red;
  }
}

/* Button */

.generic-button {
  background-color: @bg-darkblue;
  border: none;
  margin-right: -3px;

  .p-button-label {
    font-size: @fs-title1;
    font-weight: @normal;
  }

  &.cancel {
    color: @darkblue;
    background-color: @bg-white;
    border: 1px solid @darkblue;
  }
}
